*{
    box-sizing: border-box;
    }
    #d1{
     animation-delay: .5s;   
    }
    
    #d2{
        animation-delay: 1s;   
    }
    
    #d3{
        animation-delay: 1.5s;   
    }
    
    #d4{
        animation-delay: 2s;   
    }
    #d5{
        animation-delay: 2.5s;   
    }